{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}{{ title | default:'Task creation' }}{% endblock %}
{% block content %}
<main class="form-signin px-5">
    {% translate 'Create task' as default_header %}
    <h1>{{ header | default:default_header }}</h1>
    {% url 'tasks:create' as default_url %}
    <form action="{{ action_url | default:default_url }}" method="post">
        {% csrf_token %}
        <table>
            {% bootstrap_form form %}
        </table>
        {% translate 'Create' as default_button %}
        <input type="submit" class="btn btn-primary" value="{{ button | default:default_button }}">
    </form>
</main>
{% endblock %}