{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    {% bootstrap_css %}

</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark {% if messages %}mb-0{% else %}mb-4{% endif %}">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{% translate "Task manager" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'users' %}">
                            {% translate "Users"%}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user_login' %}">{% translate "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user_create' %}">{% translate "Registration" %}</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% translate "Are you sure?" as confirmation %}
                        <form action="{% url 'user_logout' %}" method="post"
                            onsubmit="return confirm('{{ confirmation }}')">
                            {% csrf_token %}
                            <input type="submit" class="nav-link active" value="{% translate 'Logout' %}">
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>

</html>