{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Statuses_list{% endblock %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>{% translate "Statuses" %}</h1>
        <a class="btn btn-primary my-3" href="{% url 'statuses:create' %}">{% translate "Create status" %}</a>
        <table class="table table-bordered" data-test="urls">
            <thead>
                <tr>
                    <th class="col-1 fw-semibold">ID</th>
                    <th class="col-5 fw-semibold">{% translate "Name" %}</th>
                    <th class="col-3 fw-semibold">{% translate "Creation date" %}</th>
                    <th class="col-3 fw-semibold"></th>
                </tr>
            </thead>
            {% if statuses %}
            <tbody>
                {% for status in statuses %}
                <tr>
                    <td class="col-1">{{ status.id }}</td>
                    <td class="col-5">{{ status.name }}</td>
                    <td class="col-3">{{ status.created_at }}</td>
                    <td class="col-3">
                        <a href="{% url 'statuses:update' pk=status.id %}">{% translate "Update" %}</a>
                        <a href="{% url 'statuses:delete' pk=status.id %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</main>
{% endblock %}