{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Registration{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissable fade show" role="alert">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<main class="form-signin px-5">
    {% translate 'Registration' as default_header %}
    <h1>{{ header | default:default_header }}</h1>
    {% url 'users:user_create' as default_url %}
    <form action="{{ action_url | default:default_url }}" method="post">
        {% csrf_token %}
        <table border="1">
            {% bootstrap_form form %}
        </table>
        {% translate 'Registrate' as default_button %}
        <input type="submit" class="btn btn-primary" value="{{ button | default:default_button }}">
    </form>
</main>
{% endblock %}