{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}User Deletion{% endblock %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>{{ user.username }}</h1>
        <p class="lead">{% translate "Are you sure you want to delete?" %}</p>
        <form action="{% url 'users:user_delete' pk=user.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="{% translate 'Delete' %}">
        </form>
    </div>
</main>
{% endblock %}