{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}


{% block title %}Task Deletion{% endblock %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>{{ task.name }}</h1>
        <p class="lead">{% translate "Are you sure you want to delete this task?" %}</p>
        <form action="{% url 'tasks:delete' pk=task.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-danger" value="{% translate 'Yes, delete' %}">
        </form>
    </div>
</main>
{% endblock %}